body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #eee;
    text-align: center;
}

.tanks {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10px;
    margin: 20px;
    flex-wrap: wrap; 
}

.tank {
    background-color: #222; 
    padding: 10px;
    border-radius: 5px;
    width: 150px; 
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tank img {
    width: 100%;
    height: 100px; 
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.tank img:hover {
    border: 2px solid #ddd; 
}

.tankinfo {
    background-color: #222;
    padding: 20px;
    margin-top: 20px;
}


.tankinfo button {
    padding: 5px 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tankinfo button:hover {
    background-color: #555;
}
